@model DocumentPageModel
@{
    Layout = "/Layouts/Site.cshtml";
}

@section head
{
    <link href="https://d2mvzyuse3lwjc.cloudfront.net/global/OriginHTML.css?v=@ViewBag.AssetVersion" type="text/css" rel="stylesheet" />
}

<div class="DocContent" style="font-family: Arial">
    <table style="border: 1px solid black;" width="100%">
        <tr>
            <td width="88%">
                <div id="menu_render">&nbsp;</div>
            </td>
            <td style="vertical-align: bottom">
            </td>
        </tr>
        <tr>
            <td colspan="2" class="row">
                @Html.Partial($"/Partials/{Model.Language}/DocHeader.cshtml")
            </td>
        </tr>
        <tr style="border-bottom: solid 1px black">
            <td colspan="2">
                @RenderBody()
            </td>
        </tr>
    </table>
    <div id="menu_src">
    </div>
    <script>
        (function () {
            var src = document.getElementById('menu_src');
            document.getElementById('menu_render').innerHTML = src.innerHTML;
            src.innerHTML = '';
        })()
    </script>
    <div class="i18n">
        <a href="/static/en/@Model.Page.url">English</a>
        | <a href="/static/de/@Model.Page.url">Deutsch</a>
        | <a href="/static/ja/@Model.Page.url">»’±æ’Z</a>
    </div>
</div>
