@model WebPageModel
@{
    var AssetVersion = "202407161109";

    ViewBag.AssetVersion = AssetVersion;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://d2mvzyuse3lwjc.cloudfront.net/global/bootstrap/3.1.1/css/bootstrap.min.css?v=@AssetVersion" />

    <link href="https://d2mvzyuse3lwjc.cloudfront.net/global/yamm/yamm.min.css?v=@AssetVersion" rel="stylesheet" />
    <link href="https://d2mvzyuse3lwjc.cloudfront.net/global/originlab.min.css?v=@AssetVersion" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script defer src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-1.11.0.min.js"></script>
    <script defer src="https://d2mvzyuse3lwjc.cloudfront.net/global/bootstrap/3.1.1/js/bootstrap.min.js?v=@AssetVersion"></script>
    <script defer src="https://d2mvzyuse3lwjc.cloudfront.net/global/originlab.min.js?v=@AssetVersion"></script>

    <script defer src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-MML-AM_CHTML'></script>

    <link href="~/static/style.css" asp-append-version="true" type="text/css" rel="stylesheet" />
    <script src="~/static/script.js" asp-append-version="true"></script>

    @RenderSection("head", required: false)
</head>
<body>
    <div class="container">
        <div class="row" id="header">
            @Html.Partial($"/Partials/{Model.Language}/Header.cshtml")
        </div>
        <div class="row" id="contentsBody">
            @RenderBody()
        </div>
        <div class="row" id="footer">
            @Html.Partial($"/Partials/{Model.Language}/Footer.cshtml")
        </div>
    </div>
</body>
</html>