<div class="col-sm-3">
    <a class="btn btn-default" href="/static/en/" title="Return home"><span class="glyphicon glyphicon-home"></span></a>
    <a class="btn btn-default" href="/static/en/" title="Navigate to parent"><span class="glyphicon glyphicon-arrow-up"></span></a>
</div>
<div class="col-sm-9">
    <div class="form-inline pull-right hidden-xs">
        <div class="form-group">
            <label for="docSearchInput">Find</label>
            <input class="form-control" type="text" placeholder="keywords" id="docSearchInput" />
        </div>
        <div class="form-group">
            <label for="docSearchBook">in</label>
            <select id="docSearchBook" class="form-control" title="Scope for the search">
                <option selected="selected" value="">All Books</option>
                <optgroup label="Non-Programming Books">
                    <option value="User-Guide">User Guide</option>
                    <option value="Tutorials">Tutorials</option>
                    <option value="Quick-Help">Quick Help</option>
                    <option value="Origin-Help">Origin Help</option>
                </optgroup>
                <optgroup label="Programming Books">
                    <option value="X-Function">X-Function</option>
                    <option value="OriginC">Origin C</option>
                    <option value="LabTalk">LabTalk Programming</option>
                    <option value="python">Python</option>
                    <option value="ExternalPython">Python (External)</option>
                    <option value="COM">Automation Server</option>
                    <option value="LabVIEW">LabVIEW VI</option>
                    <option value="App">Apps</option>
                    <option value="AppDev">App Development</option>
                    <option value="CodeBuild">Code Builder</option>
                    <option value="License">License</option>
                    <option value="MOCA">MOCA</option>
                    <option value="Orglab">Orglab</option>
                </optgroup>
            </select>
        </div>
        <div class="form-group">
            <button class="btn btn-default" type="button" title="Search" onclick="searchDoc('en', 'docSearchInput', 'docSearchBook')">
                <span class="glyphicon glyphicon-search"></span>
            </button>
        </div>
    </div>
</div>
