<div class="FooterItem" style="margin-top: 10px;">
    <table id="footerNav">
        <tbody>
            <tr>
                <td width="40%">
                    <div class="FooterItem">© OriginLab Corporation. All rights reserved.</div>
                    <div id="footerTextLinks">
                        <span id="Footer_FooterLinks"><a href="https://www.originlab.com/index.aspx?go=Company&amp;pid=914">Site Map</a>&nbsp;|&nbsp;<a href="https://www.originlab.com/index.aspx?go=Company/PrivacyPolicy">Privacy Policy</a>&nbsp;|&nbsp;<a href="https://www.originlab.com/index.aspx?go=Company/TermsOfUse">Terms of Use</a></span>
                    </div>
                </td>
                <td width="60%">
                </td>
            </tr>
            <tr>
                <td width="25%"></td>
                <td width="60%"></td>
            </tr>
        </tbody>
    </table>
</div>